*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

body{
    background-color: darkgray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    background: darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}

.navigation a {
    position: relatives;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a:hover{
    color: grey;
}

.body{
    text-align: center;
    text-decoration: none;
    text-justify: auto;
}

.body h1{
    font-size: 25px;
    color: black;
    margin-bottom: 20px;
    margin-top: 40px;
}

.body p{
    padding: 18px 19px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 100%;
    margin-left: 500px;
    margin-right: 500px;
    height: 50%;
    text-align: center;
    text-justify: inter-word;
}

.footer{
    overflow: hidden;
    position: relative;
    bottom: 0;
    left: 0;
    width: 101%;
    padding: 21px 0;
    text-align: center;
    font-size: 6px;
    background: darkred;
    color: white;
    margin-top: 135px;
}